*.flac
*.eps
*.wav
Audio data/
Filtrado adaptativo en setup fisico/audio data/
Filtrado adaptativo en setup fisico/results/
Convolucion/audio output/
TDNN/results/
TDNN/audio data/
Focused gamma/results/
Focused gamma/audio data/